.tabel1 {
  width: 50%;
  table-layout: auto;
  display: table;
  margin-left: 3%;
  margin-top: 0.5%;
}

.hoofd {
  display: table-row;
}

.head {
  font-family: Arial, Helvetica, sans-serif;
  display: table-header-group;
}

.cell {
  display: table-cell;
  text-align: left;
  width: 20%;
}

.cell1 {
  display: table-cell;
  text-align: left;
  width: 20%;
  background-color: rgb(231, 246, 231);
  font-size: 18px;
}

.form {
  margin-left: 3%;
}
